<!--fixed-bottom position-fixed-->
<footer class="footer fixed-bottom position-fixed">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="javascript:void (0)">Abhay Katharotiya</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Abhay Katharotiya
                </span>
            </div>
        </div>
    </div>
</footer>
