<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="header-margin"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title text-center">
                        <h2>Home</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a routerLink="/account">
                        <div class="card card-button bg-light">
                            <h3 class="card-title ml-auto mr-auto mb-auto mt-auto">Check Balance</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 ">
                    <a routerLink="/history">
                        <div class="card  card-button bg-light">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">Transaction History</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <a routerLink="/transfer">

                        <div class="card  card-button bg-light">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">Transfer Money</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a routerLink="/profile">
                        <div class="card  card-button bg-light">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">User Profile</h3>
                        </div>
                    </a>
                </div>
            </div>
<!--            <div class="header-margin"></div>-->
        </div>
    </div>
</div>
